# FastAPI and Web Server
fastapi
uvicorn

# Data Processing and Analysis
pandas
numpy
pandas-ta
yfinance
pydantic

# Database
sqlalchemy
pymysql
mysql-connector-python
alembic
python-dotenv

# Reinforcement Learning
gymnasium
stable-baselines3
torch
